.histogram {
    min-width: 200px;
    padding: 16px 24px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    line-height: 24px;
}

.histogram__header {
    font-family: 'Inter', sans-serif;
}

.histogram__view-all,
.histogram__view-all:hover,
.histogram__view-all:active,
.histogram__view-all:visited {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--blue-1);
}

.histogram__total-count {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
}

.histogram__chart {
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1px;
}

.histogram__chart-elem {
    background-color: var(--blue-1);
    flex: 1;
}
